img{
  width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  
}

li {
  list-style: none;
}

body{
  color: black;
  line-height: 1.7;
}

.flex__item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container{
  max-width: 1050px;
  margin: 0 auto;
}

.common__ttl{
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.padding__height{
  padding-top: 70px;
  padding-bottom: 70px; 
}


/*---------------------header--------------------- */

.header{
  position: fixed;
  height: 70px;
  line-height: 70px;
  margin: 0;
  width: 100%;
  background-color: white;
  z-index: 10;

}

.header__logo{
  width: 60px;
  margin-left: 20px;
}

.header-nav{
  margin-right: 5vw;
}

.header-nav-a{
  color: black;
}


.header-nav-list li{
  margin-left: 2vw;
  display: inline-block;
  font-weight: bold;
}

.header-nav-list li:last-child{
  margin-right: 0;
}

.nav {
  position: absolute;
  height: 500px;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}

.nav-nav{
  color: black;
  margin: 0 auto;
}

.nav ul {
  padding-top: 80px;
}

.nav ul li {
  list-style-type: none;
  margin-top: 0;
}

.menu {
  display: none;
  width: 6vw;
  height: 6vh;
  cursor: pointer;
  position: relative;
  left: -5vw;
  top: 3vh;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}

.menu__line--top {
  top: 0;
}

.menu__line--middle {
  top: 14px;
}

.menu__line--bottom {
  bottom: 0;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.in{
  transform: translateX(100%);
}

@media screen and (max-width:767px){
  .header-nav{
    display: none;
  }
  .menu{
    display: inline-block;
  }
}

/*---------------------firstview--------------------- */
.firstview__background{
  position: relative;
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: 0;
}

.firstview__content{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80 0px;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}

h1{
  font-size: 45px;
}
.firstview_content-eyecatvh{
  font-size: 200px;
}

.firstview_content-sub-ttl{
  font-size: 5vw;
}

.secondview__content {
  background:#1a1a1a;
}

.secondview__content-eyecatch{
  font-size: 38px;
  color: white;
  margin-bottom: 10px;
}

.secondview__content-sup-copy{
  font-size: 18px;
  color: white;
}

/*---------------------service--------------------- */
#service .common__ttl{
  text-align: center;
}

.service-wrap {
  margin: 5vh 1vw;
}
.service-wrap__item{
  width: 500px;
  position: relative;
  display: block;
}

.service_btn{
  display: block;
  margin: 5px auto 0;
  width: 300px;
  text-align: center;
  padding: 10px 0;
  background: #cc1231;
  color: white;
  font-weight: bold;
  transition: 0.4s;
}

.service_btn:hover{
  background: #cc1231;
  color: white;
  opacity: 0.5;
}

/*---------------------news--------------------- */

#news {
  background: black; 
}

#news .common__ttl {
  color: white;
}

#news .news__list-btn{
  display: block;
  color: black;
  background-color: white;
  margin: 10px auto;
  padding: 20px;
}

.news__list-btn:hover {
  opacity: 0.5;
}

#news .news__list-item:last-of-type{
  margin-bottom: 3vh;
}

.news__list-detail{
  font-weight: bold;
}

.news__btn{
  display: block;
  padding: 10px;
  font-size: 14px;
  width: 160px;
  text-align: center;
  background: #cc1231;
  color: white;
  transition: 0.4s;
  font-weight: bold;
}

.news__btn:hover {
  background: #cc1231;
  color: white;
  opacity: 0.5;
  transition: 0.4s;
}

/*---------------------blog--------------------- */
#blog .container {
  margin-top: 5vh;
}

#blog .common__ttl {
  text-align: center;
}

.blog-wrap__item{
  width: 30%;
  position: relative;
  display: block;
  color: black;
}

.blog__btn {
  display: block;
  margin: 30px auto 0;
  width: 200px;
  text-align: center;
  padding: 8px 50px;
  background: #cc1231;
  color: white;
  transition: 0.4s;
  font-weight: bold;
}

.blog__btn:hover {
  background: #cc1231;
  color: white;
  opacity: 0.5;
}

/*---------------------company-recruit--------------------- */


.flex__item-company{
  background:#cc1231;
  height: 250px;
  width: 50%;
  position: relative;
  display: block;
  transition: 0.4s;
}

.flex__item-company:hover {
  background: #cc1231;
  color: white;
  opacity: 0.5;
}

.company__ttl{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
  color: white;
}

.flex__item-recruit {
  background: #1a1a1a;
  height: 250px;
  width: 50%;
  position: relative;
  display: block;
  transition: 0.4s;
}

.flex__item-recruit:hover {
  background: #1a1a1a;
  color: white;
  opacity: 0.5;
}



.recruit__ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
  color: white;
}

/*---------------------contact--------------------- */
#contact{
  background-color: whitesmoke;
  text-align: center;
}

#contact.common__ttl{
  margin-top: 5vh; 
}

.contact__btn {
  display: block;
  margin: 40px auto 0;
  width: 300px;
  text-align: center;
  padding: 10px 0;
  background: #cc1231;
  color: white;
  transition: 0.4s;
  font-weight: bold;
}

.contact__btn:hover {
  background: #cc1231;
  color: white;
  opacity: 0.5;
}

/*---------------------footer--------------------- */

.footer {
  text-decoration: none;
  width: 100%;
  background-color: #1a1a1a;
  text-align: center; 
  height: 70px;
  padding-top: 20px;
}

.footer-inner{
  display: flex;
  justify-content: space-between;
  padding: 0, 0.5vw;
  line-height: 8px;
}

.copyright{
  font-size: 1vw;
  color: white;
}

.footer-nav-list{
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  
}

.footer-nav-item{
  font-size: 10px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 10px 20px;
}

.footer-nav-item:not(:last-of-type){
  border-right: 1px solid white;
}

.footer-nav-item:not(:first-of-type) {
  border-left: 1px solid white;
}

.footer-nav-item:hover {
  opacity: 0.5;
}

.footer-nav-a{
  color: white;
}

.footer-nav-list li:last-child {
  margin-right: 0;
}

.footer-nav-item:last-of-type {
  border: none;
}

.footer-nav-item:first-of-type {
  border: none;
}



@media screen and (max-width:767px) {
.footer{
    height: 200px;
  }

  .footer-inner-min {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }

.copyright{
  margin: auto 60px;
}

.footer-nav-list-min{
  margin: auto 80px;
}

  .wrap {
    margin: 0 auto;
  }

.footer-inner{
  display: none;
}

@media screen and (min-width:768px){
  .footer-inner-min {
  display: none;
}

@media screen and (max-width:766) {
  .footer-inner-min {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
  }
  
  .footer-nav-list-min .copyright{
    display: inline-block;
  }
}