img{
  width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

body{
  color: black;
  line-height: 1.7;
}

.flex__item{
  display: flex;
  justify-content: space-between;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.common__ttl{
  font-size: 12vh;
  font-weight: bold;
  position: relative;
}

/*---------------------header--------------------- */

.header{
  height: 10vh;
  line-height: 10vh;
}

.header__logo{
  width: 5vw;
  margin-left: 12vw;
}

.header-nav{
  margin-right: 5vw;
}

.header-nav-list li{
  margin-left: 2vw;
  display: inline-block;
  font-weight: bold;
}

.header-nav-list li:last-child{
  margin-right: 0;
}

/*---------------------firstview--------------------- */
.firstview{
  position: relative;
  background: url(../img/mv.png);
  height: auto;
}

.firstview_content{
  position: absolute;
  margin-top: 5vw;
  text-align: center;
  color: white;
}

.firstview_content-eyecatvh{
  font-size: 10vw;
}

.firstview_content-sub-ttl{
  font-size: 5vw;
}

.secondview__content {
  background: black;
}

.secondview__content-eyecatch{
  font-size: 4vw;
  color: white;
}

.secondview__content-sup-copy{
  font-size: 2vw;
  color: white;
}

/*---------------------service--------------------- */
#service .container {
  margin-top: 5vh;
}

#service .common__ttl{
  text-align: center;
}

.service-wrap{
  margin: 5vh 1vw;
}

.service-wrap__item{
  width: 50vw;
  position: relative;
  display: block;
}

.service_btn{
  display: block;
  margin: 10vh auto 0;
  width: 50vw;
  text-align: center;
  padding: 5vh 0;
  background: #cc1231;
  color: white;
  transition: 0.4s;
}

/*---------------------news--------------------- */

#news {
  background: black; 
}

#news .common__ttl {
  color: white;
  margin-top: 10vh;
}

#news .news__list-item{
  color: black;
  background-color: white;
  margin-top: 3vh;
}

#news .news__list-item:last-of-type{
  margin-bottom: 3vh;
}

.news__list-detail{
  font-weight: bold;
}

.news__btn{
  display: block;
  margin: 10vh auto 0;
  width: 30vw;
  text-align: center;
  padding: 5vh 0;
  background: #cc1231;
  color: white;
  transition: 0.4s;
}

/*---------------------blog--------------------- */
#blog .container {
  margin-top: 5vh;
}

#blog .common__ttl {
  text-align: center;
}

.blog-wrap__item{
  width: 30%;
  position: relative;
  display: block;
}

.blog__btn {
  display: block;
  margin: 10vh auto 0;
  width: 30vw;
  text-align: center;
  padding: 5vh 0;
  background: #cc1231;
  color: white;
  transition: 0.4s;
}

/*---------------------company-recruit--------------------- */


.flex__item-company{
  background:#cc1231;
  height: 40vh;
  width: 50%;
  position: relative;
  display: block;
  transition: 0.4s;
}

.company__ttl{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
  color: white;
}

.flex__item-recruit {
  background: #1a1a1a;
  height: 40vh;
  width: 50%;
  position: relative;
  display: block;
  transition: 0.4s;
}

.recruit__ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
  color: white;
}

/*---------------------contact--------------------- */
#contact{
  background-color: whitesmoke;
  text-align: center;
}

#contact.common__ttl{
  margin-top: 5vh; 
}

.contact__btn {
  display: block;
  margin: 10vh auto 0;
  width: 30vw;
  text-align: center;
  padding: 5vh 0;
  background: #cc1231;
  color: white;
  transition: 0.4s;
}

/*---------------------footer--------------------- */

.footer {
  text-decoration: none;
  width: 100%;
  background-color: black;
  padding: 5vh 0;
  text-align: center; 
}

.footer-inner{
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
}

.copyright{
  font-size: 1vw;
  color: white;
}

.footer-nav-list{
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2vw;
  margin-bottom: 10vh;
  color: white;
}

.footer-nav-list li:last-child {
  margin-right: 0;
}