img {
  width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: black;
  line-height: 1.7;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.common__ttl {
  font-size: 12vh;
  font-weight: bold;
  position: relative;
}

/*---------------------header--------------------- */

.header {
  height: 10vh;
  line-height: 10vh;
}

.header__logo {
  width: 5vw;
  margin-left: 12vw;
}

.header-nav {
  margin-right: 5vw;
  color: black;
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}

.nav ul {
  padding-top: 80px;
}

.nav ul li {
  list-style-type: none;
  margin-top: 50px;
}

.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}

.menu__line--top {
  top: 0;
}

.menu__line--middle {
  top: 14px;
}

.menu__line--bottom {
  bottom: 0;
}

.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
  opacity: 0;
}

.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.in {
  transform: translateX(100%);
}

.header-nav-list li {
  margin-left: 2vw;
  display: inline-block;
  font-weight: bold;
}

.header-nav-list li:last-child {
  margin-right: 0;
}

/*---------------------news--------------------- */

.common__ttl {
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}



.news__ttl {
  position: absolute;
  top: 40%;
  left: 50%;
}

#news {
  background: black;
}

#news .common__ttl {
  color: white;
  margin-top: 10vh;
}

.news__list-item {
  margin-top: 3vh;
  border: 1px solid black;
  padding: 1vh;
}

.news__list-item:last-of-type {
  margin-bottom: 3vh;
}

.news__list-detail {
  font-weight: bold;
}


/*---------------------contact--------------------- */
#contact {
  background-color: whitesmoke;
  text-align: center;
}

#contact.common__ttl {
  margin-top: 5vh;
}

.contact__btn {
  display: block;
  margin: 10vh auto 0;
  width: 30vw;
  text-align: center;
  padding: 5vh 0;
  background: #cc1231;
  color: white;
  transition: 0.4s;
}