img {
  width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: black;
  line-height: 1.7;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.common__ttl {
  font-size: 12vh;
  font-weight: bold;
  position: relative;
}

/*---------------------header--------------------- */

.header {
  height: 10vh;
  line-height: 10vh;
}

.header__logo {
  width: 5vw;
  margin-left: 12vw;
}

.header-nav {
  margin-right: 5vw;
}

.header-nav-list li {
  margin-left: 2vw;
  display: inline-block;
  font-weight: bold;
}

.header-nav-list li:last-child {
  margin-right: 0;
}
/*---------------------service--------------------- */
.service__ttl {
  position: relative;   
  background: url(../img/mv.png);
  height: 100vh;
}

